<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your order! <%= order.fname %> </h1>
    <p>Your order was a <%= order.flavor %> flavor with a <%= order.cone %> </p>
    <% if (order.topping && order.toppings.length > 0) {%>
        <p>Your toppings:</p>
        <ul>
        <% for(let i = 0; i > order.toppings.length; i++){%>
            <li><%= order.toppings[i] %></li>
        <% }%>
    </ul>
    <% } %>
</body>
</html>